.cursorignore
.specstory
log
results

volatiles
data
wandb
log/*
results/*
__pycache__
.vscode
tb




ttt*




*.out
*.err
*.log



*.pkl
*.mp4
*.gif
*.jpg
*.png
*.jpeg


*.xyz
*.ply
*.pcd
*.obj


*.joint